.body {
  background-color: #2B3E50;
  padding: 0;
  margin: 0;
}

.column {
  float: left;
  height: 100%;
}

.right {
  width: 75%;
  color: black;
  height: 1000px;
  background-color: #8d9dad;
  text-align: center;
  padding-top: 25%;
}

.right h1 {
  color: #EBEBEB;
  font-size: 90px;
}

.left h2 {
  font-size: 60px;
  color: #EBEBEB;
}

.left {
  width: 25%;
  background-color: #f0ad4e;
  height: 1000px;
  text-align: center;
}
.left h4{
  color: black;
  font-size: 20px;
}
.left h6{
color:  #4E5D6C;
font-size: 30px;
}
#submit {
  background-color: #f0ad4e;
  border-radius: 8px;
  transition-duration: 0.4s;
}

#submit:hover {
  background-color: #d9534f;
  color: white;
}

.output {
  color: #d9534f;
  /*text-shadow: 1px 0px;*/
  font-weight: bolder;
}

.scroll {
  overflow: scroll;
  height: 1000px;
  padding-bottom: 20px;
}

.output #results {
  list-style-type: none;
}
#userInput{
  height: 45px;
}
.btn-primary{
  height: 38px;
}
/*Overlay style*/

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  /*left: 0;
  top: 0;*/
  background-color: #5cb85c;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  /*top: 25%;*/
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #000;
  display: block;
  transition: 0.3s;
}
.
/* When you mouse over the navigation links, change their color */

.overlay a:hover, .overlay a:focus {
  color: #818181;
}

.overlay .closebtn {
  /*position: absolute;*/
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.hamburger1{
padding-right: 140px;
}
